html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



img {
    max-width: 100%;
    display: block;
}

ul, ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

:root {
    --bg: #0b1f26;
    --gold: #ffbf00;
    --text: #eaeaea;
    --muted: #aaa;
    --container-width: 1100px;
}

.empty-state {
    display: none;
}

.empty-state.show {
    display: block;
}

.line-break {
    display: block;
    color: #fcc10e;
}

.login-cta a {
    color: #fcc10e;
    text-underline-offset: 4px;
 /* 🔥 più elegante */
    transition: opacity 0.2s ease;
    margin-top: 18px !important;
    position: relative;
    text-decoration: none;
    font-weight: 500;
}

/* linea */
.login-cta a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fcc10e;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

/* hover */
.login-cta a:hover::after {
    transform: scaleX(1);
}

.login-cta a:hover {
    opacity: 0.8;
}

/* SOTTOTITOLO */
.subtitle {
    color: rgba(255,255,255,0.75);
    font-style: italic;
    font-size: 18px;
    margin-top: 6px;
}

/* AUTORE (PIÙ IMPORTANTE) */
.author {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

/* HASHTAG */
.series {
    color: rgba(255,255,255,0.45);
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 14px;
}

/* GENERE */
.genre-bar {
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    margin-top: 4px;
}

.home-intro {
    padding: 20px;
    margin-top: 10px;
}

.home-intro h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: var(--text);
}

.home-intro p {
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--gold);
    margin-top: 6px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.home-cinema {
    position: relative;
	margin-bottom: 80px;
	padding: 0 20px;
	 margin-top: 40px;
}
.home-cinema::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(to left, #0b1f26, transparent);
  pointer-events: none;
}
.home-cinema .container {
  padding-left: 32px;
  padding-right: 32px;
	padding: 0 32px;
}
.poster {
    padding: 60px 16px 20px;
  }

  .poster-layout {
	  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
	  align-items: center;
  text-align: center;
  }

  .poster-big-title {
    font-size: 48px;
  }

  .poster-sub {
    font-size: 16px;
  }

  .poster-img {
  width: 240px;
  height: 240px;
  margin: 40px auto 0;

  display: flex;
  justify-content: center;

  border-radius: 50%;
  overflow: hidden; /* 🔥 fondamentale */
	  
  align-self: center !important;
  position: static !important;
  transform: none !important;
}

.poster-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 50%; /* sicurezza */
  object-position: center top; /* per vedere meglio la testa */
}

.poster-text {
  max-width: 90%;
  margin: 0 auto;
  transform: none !important;
}

.poster-big-title {
  text-align: center;
	 color: #fcc10e;
}

.poster-sub,
.about-text {
  text-align: center;
}

.firma-recensione {
  margin-top: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  line-height: 1.6;
  letter-spacing: 0.5px;
 text-align: left;
}

.archivio-title {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: clamp(28px, 3vw, 42px);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
  letter-spacing: 1px;
  }


.archivio-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: var(--gold);
  margin: 12px auto 0;
}

.about-text {
  font-weight: 400; /* niente grassetto */
  line-height: 1.6;
  margin-top: 10px;
}

.about-text::first-line {
  opacity: 0.9;
}
.section-label {
    margin-top: 15px;
    padding-left: 0;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 0;
    color: var(--gold);
    opacity: 0.7;
}

.section-label::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: var(--gold);
    opacity: 0.5;
    margin-bottom: var(--space-md);
}
/* Mantiene stile featured */
.contact-poster {
  margin-bottom: 40px;
}

/* EMAIL protagonista */
.contact-mail-block {
  text-align: center;
  margin: 60px 0 20px;
}

.contact-mail {
  font-size: 22px;
  color: #fcc10e;
  text-decoration: none;
  position: relative;
}

/* underline animata */
.contact-mail::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #fcc10e;
  transition: width 0.3s ease;
}

.contact-mail:hover::after {
  width: 100%;
}

/* testo secondario */
.contact-extra {
  margin-top: 10px;
  color: rgba(255,255,255,0.6);
}

.contact-extra a {
  color: #fcc10e;
  text-decoration: none;
}

.back-link {
  display: inline-block;
  margin-bottom: 24px;

  color: var(--gold);
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;

  opacity: 0.8;
}

.back-link:hover {
  opacity: 1;
}

/* social */
.social {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}

.social a {
  color: #fff;
  font-size: 16px;
  transition: color 0.2s ease;
}

.social a:hover {
  color: #fcc10e;
}

/* firma */
.poster-signature-block {
  text-align: center;
  margin-top: 40px;
}


.card p a {
  color: #fcc10e;
  text-decoration: none;
  position: relative;
}

/* underline animata */
.card p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #fcc10e;
  transition: width 0.3s ease;
}

.card p a:hover::after {
  width: 100%;
}

.card-title {
  font-family: 'Playfair Display', serif;
}


body {
    font-family: 'Inter', sans-serif;
    padding-top: 13px;
  background: var(--bg);
    color: #ffffff;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--gold);
}
.cta-link:hover {
  color: #193c4e;
	text-decoration: none;
}

.header-inner {
	display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px 20px;
    padding-top: 20px;
}

.logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 6px;
}

.logo {
margin: 0;
    font-family: 'Playfair Display', serif;
        font-size: 42px;
        text-align: center;
        color: var(--gold);
}

.logo-subtitle {
    font-size: 11px;
    margin-top: 4px;
    text-align: left;
    position: static;
    opacity: 0.7;
    letter-spacing: 3px;
    color: white;
}

.menu {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* mobile */
    flex-wrap: wrap;
    gap: 10px; /* 👈 QUESTO ; mancava */
    margin-top: 6px;
    font-size: 10.5px;
}

.menu a {
    position: relative;
    opacity: 0.8;
	font-size: 12px;
    letter-spacing: 1px;
}

.menu a.active {
    color: var(--gold);
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--gold);
    transition: 0.3s;
}

.menu a:hover::after, .menu a.active::after {
    width: 100%;
}

.home-cinema .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
	
}

/* CONTENITORE */
.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 60px auto 40px;
  padding: 0 20px;
}

/* RIGHE */
.filters-top,
.filters-bottom {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.filters-top::-webkit-scrollbar,
.filters-bottom::-webkit-scrollbar {
  display: none;
}

/* BOTTONI */
.filter {
  flex: 0 0 auto;

  padding: 6px 14px;
  border-radius: 999px;

  font-size: 13px;

  color: #fcc10e;
  border: 1px solid #fcc10e;

  background: rgba(252,193,14,0.08);

  white-space: nowrap;
}

/* STATO ATTIVO */
.filter.active {
  background: #fcc10e;
  color: #193c4e;
}
.filter-reset {
  flex: 0 0 auto;

  border-radius: 50%;
  width: 34px;
  height: 34px;

  border: 1px solid #fcc10e;
  color: #fcc10e;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;
}

.filter-reset:hover {
  background: rgba(252,193,14,0.15);
}

.archivio-grid {
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 📱 2 colonne */
  gap: 16px;
    margin-top: 100px;
    width: 100%;
	background: none;
  padding: 0;
    margin: 0 auto;
  overflow: hidden; /* 👈 QUESTO è fondamentale */
}

.archivio-card {
  overflow: hidden;
  background: transparent;
  box-shadow: none;
}

.archivio-card img {
    width: 100%;
    border-radius: 14px;
    display: block;
  height: 180px;
  object-fit: cover;
  display: block;
	border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
  border-radius: 18px; /* 👈 opzionale ma aiuta */
}

/* ===== CARD ===== */
.card {
    position: relative;
    margin: 0;
    background: transparent;
    box-shadow: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero {
    padding: 60px 0 30px;
}

.hero-inner {
  flex-direction: column;
	display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  text-align: center;
	max-width: 1000px; /* più stretto = tutto rientra */
  margin: 0 auto;
}

.hero-sub {
    text-align: left;
    margin: 0;
}

.hero-text {
    text-align: left;
    position: relative;
    flex: 1;
	max-width: 520px;
}

.highlight {
    color: #fcc10e;
}

.hero-sub {
    text-transform: uppercase;
    letter-spacing: 1.2px;
   /* 👈 IMPORTANTISSIMO per non farlo brutto */
    font-size: 10px;
         /* leggermente più piccolo */
    color: #9aa3a8;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-bottom: 20px;
    align-items: left;
	font-size: 34px;
    line-height: 1.25;
	}

.hero-text p {
    font-size: 16px;
    color: #9aa3a8;
    line-height: 1.6;
    align-items: left;
}

.hero-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
	margin-right: auto;
    margin-top: 30px;
	max-width: 280px;
}

.hero-cta a {
  color: var(--gold);
  font-weight: 500;
  text-decoration: underline;
}
.cta-label {
    justify-content: center;
    font-size: 16px;
    color: white;
    opacity: 0.6;
	text-align: left;
}

.cta-sub {
    font-size: 14px;
    color: #9aa3a8;
    line-height: 1.5;
    max-width: 260px;
	margin-top: 10px;
}
.cta a {
    color: #fcc10e !important;
    text-decoration: underline;
    font-weight: 500;
}

.cta-hook {
    display: inline-block;
    position: relative;
}

@keyframes draw {
    to {
        sroke-dashoffset: 0;
    }
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeHead {
    to {
        opacity: 1;
    }
}


/* ===== SLIDER ===== */

.slider {
    scroll-behavior: smooth;
  padding-bottom: 10px;
	display: flex;
  gap: 14px;
  padding-left: 20px;
  padding-right: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
	scroll-padding-left: 20px;
}

/* ===== HEADER SLIDER (titolo + frecce) ===== */

.slider-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
padding-left: 20px;
  padding-right: 20px;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* CARD */
.slide-item {
    scroll-snap-align: start;
	min-width: 260px;
  flex-shrink: 0;
flex: 0 0 58%;
	opacity: 0.6;
  transition: opacity 0.3s;
}

.slide-item:first-child {
  opacity: 1;
}

/* contenitore card */
.slide-card {
    display: block;
    border-radius: 18px;
 /* 👉 più arrotondate */
    overflow: hidden;
    background: #0f2a33;
        transition: transform 0.4s ease, opacity 0.4s ease;
}

/* immagine */
.slide-card img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 180px;
   transition: transform 0.5s ease;
}

/* hover desktop */
.slide-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 30px rgba(0,0,0,0.4),
    0 0 12px rgba(255,191,0,0.08);
        opacity: 1;
        z-index: 2;
}

.slide-card:hover img {
    transform: scale(1.06);
}

/* TESTO */
.slide-info {
    margin-top: 10px;
}

/* titolo */
.slide-info h3 {
    font-size: 14px;
 /* 👉 più grande */
    color: white;
    font-weight: 400;
    margin-bottom: 6px;
}

/* stelle */
.slide-info p {
    font-size: 13px;
 /* 👉 più grandi */
    color: var(--gold);
    letter-spacing: 2px;
}

/* ===== CONTENITORE FRECCE ===== */

.slider-arrows {
  display: none;
}

.slider::after {
    min-width: 20px;
}

.slide-item:first-child {
  margin-left: 0;
}

.slide-item:last-child {
  margin-right: 20px;
}
/* ===== SEZIONE ===== */

/* ===== SECTIONS (CHI SONO) ===== */

.sections {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 0 20px;
  margin-top: 40px;

  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 40px;
}

.sections .card {
  max-width: 100%;
}

.sections .card::after {
  display: none; /* niente linee verticali su mobile */
}

/* LABEL (DI COSA SCRIVO ecc) */
.sections .card h3 {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--gold);
    opacity: 0.6;
    margin-bottom: 14px;
}

/* TITOLI */
.sections .card h2 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    line-height: 1.3;
    color: white;
    margin-bottom: 14px;
}

/* TESTO */
.sections .card p {
    font-size: 14px;
    line-height: 1.6;
    color: #9aa3a8;
    max-width: 260px;
}

.film-title {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-top: 8px;
}

.film-director {
    font-size: 13px;
    color: #cfcfcf;
    margin-top: 4px;
}

.film-stars {
    color: var(--gold);
    margin-top: 6px;
    font-size: 14px;
    spacing: 2px;
}

.load-more-wrapper {
    text-align: center;
    margin: 60px 0;
}

.load-more-btn {
    padding: 12px 26px;
    border: 1px solid var(--gold);
    color: var(--gold);
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.load-more-btn:hover {
    background: var(--gold);
    color: #0b1f26;
}

.hidden,
.hidden-by-limit {
    display: none !important;
}

.review-hero {
    width: 100%;
    max-width: 1100px;
    margin: 80px auto 40px;
    padding: 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
	transform: none !important;
	}

.review-hero img {
    height: auto;
  width: 100%;
  max-width: 800px;

  border-radius: 20px;
  display: block;
  margin: 0 auto;
margin-left: auto;
  margin-right: auto;
  object-fit: cover;
	}

.review-container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 20px;
}

.review-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    line-height: 1.2;
	color: #fcc10e;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: rgba(255,255,255,0.7);
    margin-bottom: 20px;
    font-style: italic;
}

.meta,
.genre-bar,
.series {
    font-size: 13px;
    opacity: 0.6;
    margin-bottom: 6px;
}

.review-text p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 18px;
    color: rgba(255,255,255,0.9);
}

.review-end {
    margin-top: 40px;
    text-align: center;
	color: white;
	align-items: center;
}
.review-end img {
	color: white;
	align-items: center;
}
.rating {
    font-size: 22px;
    color: #fcc10e;
    margin-bottom: 20px;
}

.back-home.top {
	margin-bottom: 15px;
}

.back-home.top a {
  color: #fcc10e;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

/* underline animata */
.back-home.top a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #fcc10e;
  transition: width 0.3s ease;
}

.back-home.top a:hover::after {
  width: 100%;
}


/* ===== TITOLI ===== */

.review-container h1 {
    color: #fcc10e;
 /* GIALLO */;
}

.review-container h2,
.review-container h3 {
    color: #ffffff;
}

/* ===== TESTO ===== */

.review-container {
    color: rgba(255,255,255,0.85);
}

/* sottotitolo */
.subtitle {
    color: rgba(255,255,255,0.7);
}

/* meta info */
.meta,
.series,
.genre-bar {
    color: rgba(255,255,255,0.5);
}

/* testo recensione */
.review-text {
  max-width: 680px; /* 🔥 prima era troppo largo */
margin-left: 0;
	
}
.review-text p {
    color: rgba(255,255,255,0.85);
}

/* strong dentro il testo → leggermente più pieno */
.review-text strong {
    color: #ffffff;
}

/* corsivo */
.review-text em {
    color: rgba(255,255,255,0.7);
}

/* rating */
.rating {
    color: #fcc10e;
}
/* ===== WATCH BLOCK ===== */
.watch {
    display: flex;
    align-items: baseline;
   /* allinea perfettamente testo + link */
    gap: 14px;
    margin: 24px 0 28px;
}
	
	.watch a {
  color: #fcc10e;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #fcc10e;
  padding-bottom: 2px;
  transition: opacity 0.2s ease;
}

.watch a:hover {
    opacity: 0.7;
	color: #fcc10e;
}

.watch a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fcc10e;
    transition: width 0.3s ease;
}

.watch a:hover::after {
    width: 100%;
}

/* label */
.watch-label {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
}

/* link editoriale */
.watch-link {
    font-size: 13px;
    font-weight: 500;
    color: #fcc10e;
    text-decoration: none;
    line-height: 1;
    position: relative;
    padding-bottom: 2px;
}

/* underline animata pulita */
.watch-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fcc10e;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.watch-link:hover::after {
    transform: scaleX(1);
}

	.watch span {
  color: #ffffff;
  letter-spacing: 1px;
	}

	.watch-btn-inline {
  color: #fcc10e;
  text-decoration: none;
  position: relative;
	}
	.watch-btn-inline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #fcc10e;
  transition: width 0.3s ease;
}

.watch-btn-inline:hover::after {
  width: 100%;
}

/* ⭐ STELLINE → SINISTRA */
.rating {
  text-align: left;
  color: #fcc10e;
  font-size: 20px;
  margin-bottom: 30px;
}

/* ✍️ FIRMA → CENTRATA + PIÙ IMPORTANTE */
.firma-review {
  text-align: center;
  margin: 40px 0;
}

.firma-review img {
  width: 120px; /* più grande */
  opacity: 0.95;
	filter: brightness(0) invert(1);
  opacity: 0.9;
color: white;
}

/* 🔙 TORNA → SINISTRA ALLINEATO AL TESTO */
.back-home {
  text-align: left;
  margin-top: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
	}

.back-home a {
  color: #fcc10e;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  background: rgba(11,31,38,0.6);
  padding: 6px 10px;
  border-radius: 6px;
	}

/* underline animata coerente col sito */
.back-home a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #fcc10e;
  transition: width 0.3s ease;
}

.back-home a:hover::after {
  width: 100%;
}

.contact-hero {
  margin-top: 0;
}

.contact-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* titolo */
.contact-title {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  color: #fcc10e;
  letter-spacing: -1px;
	font-weight: 600;
  letter-spacing: 1px;
}

.contact-right img {
  width: 420px;
  max-width: 100%;
  display: block;

  /* forma sotto rotonda ma pulita */
  border-radius: 50% 50% 0 0;

  /* IMPORTANTISSIMO */
  -webkit-mask-image: none;
  mask-image: none;
}

/* blocco testo */
.contact-text {
  max-width: 500px;
margin-bottom: 38px;
}

.contact-intro {
  font-size: 18px;
  color: white;
  margin: 0;
}

.contact-sub {
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  margin: 4px 0 0 0;
}

.contact-left {
  max-width: 520px;
  margin-left: 80px; /* ← spinge verso destra */
}
.contact-right {
  display: none;
}
/* CHI SONO + CONTATTI → stile editoriale */
.contact-title,
.poster-big-title {
  font-family: 'Playfair Display', serif;
  margin-bottom: 8px;
}
.sections .card h2 {
  font-family: 'Playfair Display', serif;
}
/* ===== NEWSLETTER ===== */
.newsletter {
  margin-bottom: 30px;
  margin-top: 80px;
  padding: 60px 20px;
  text-align: center;
	}

.newsletter-inner {
    max-width: 460px;
    margin: 0 auto;
}

/* kicker */
.newsletter-kicker {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--gold);
    opacity: 0.6;
    margin-bottom: 12px;
}

/* titolo */
.newsletter h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-bottom: 14px;
	font-size: 28px;
}

/* sottotesto */
.newsletter-sub {
    font-size: 15px;
    color: #9aa3a8;
    margin-bottom: 28px;
    line-height: 1.5;
}

/* bottone */
.newsletter-btn {
  padding: 14px 26px;
  background: #fcc10e;
  color: #193c4e;
  border-radius: 999px;
  font-size: 14px;
width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    display: block;
}

/* hover */
.newsletter-btn:hover {
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    display: block;
    background: var(--gold);
    color: #0b1f26;
    border-color: var(--gold);
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(255,191,0,0.25),
    0 0 18px rgba(255,191,0,0.15);
}


.newsletter h2 {
  color: #ffffff;
}

.newsletter-sub {
  color: rgba(255,255,255,0.7);
  margin-bottom: 20px;
}

#splash {
  position: fixed;
  inset: 0;
  background: #fcc10e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#splash img {
  width: 140px;
  margin-bottom: 40px;
}

.loader {
  width: 60px;
  height: 4px;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.loader::after {
  content: "";
  display: block;
  width: 40%;
  height: 100%;
  background: black;
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

#splash p {
  font-size: 12px;
  letter-spacing: 2px;
  color: black;
}
/* ===== FOOTER ===== */

.credits {
    margin: 120px auto 60px;
    padding: 40px 20px 0;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
    max-width: var(--container-width);
}

/* linea sopra */
.credits::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: var(--gold);
    opacity: 0.4;
    margin: 0 auto 30px;
}

/* quando appare */
.credits.show {
    opacity: 1;
    transform: translateY(0);
}

/* contenuto interno */
.credits-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* label (tipo “A cura di”) */
.credits-label {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin-top: 18px;
}

/* nome */
.credits-name {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    margin-top: 6px;
}

	.credits {
  margin-top: 80px;
  padding: 40px 20px;
  text-align: center;
}

.credits-label {
  color: rgba(255,255,255,0.5);
  font-size: 12px;
}

.credits-name {
  color: #ffffff;
  margin-bottom: 15px;
}
/* animazione singoli elementi (opzionale ma bello) */
.fade {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.6s ease;
}

.credits.show .fade {
    opacity: 1;
    transform: translateY(0);
}

/* delay progressivo */
.credits.show .fade:nth-child(1) {
    animation-delay: 0.2s;
}

.credits.show .fade:nth-child(2) {
    animation-delay: 0.4s;
}

.credits.show .fade:nth-child(3) {
    animation-delay: 0.6s;
}

.credits.show .fade:nth-child(4) {
    animation-delay: 0.8s;
}

.credits.show .fade:nth-child(5) {
    animation-delay: 1s;
}

.credits.show .fade:nth-child(6) {
    animation-delay: 1.2s;
}

/* animazione */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-windth: 768px) {

	.contact-hero {
  text-align: center;
  padding: 60px 20px 20px;
}

.contact-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-left {
  max-width: 90%;
  margin: 0 auto;
  transform: none !important;
}

 .contact-columns {
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

.contact-title {
  text-align: center;
}

.contact-intro,
.contact-sub {
  text-align: center;
}
}

.contact-columns .card {
  max-width: 100%;
}

.poster-signature {
  filter: brightness(0) invert(1);
  opacity: 0.8;
  margin: 20px auto 0;
}
}




@media (min-width: 1024px) {

	.header-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	}
.sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    max-width: 1100px;
    margin: 0 auto;

    padding: 0 40px;
    padding-top: 60px;
  }

  .sections .card {
    position: relative;
    padding-top: 20px;
  }

  /* linee verticali SOLO desktop */
  .sections .card:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,0.08);
  }

  .archivio-card {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
  }

  .archivio-card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 30px rgba(0,0,0,0.35);
  }

  .archivio-card img {
    transition: transform 0.5s ease;
  }

  .archivio-card:hover img {
    transform: scale(1.05);
  }
	
	.break-desktop {
        display: block;
    }

.menu a {
        font-size: 13.5px;
        letter-spacing: 1.8px;
    }

.archivio-grid {
        max-width: 1250px;
        margin: 0 auto;
	 grid-template-columns: repeat(3, 1fr); /* 💻 3 colonne */
    gap: 24px;
    }

.archivio-grid .card img {
        aspect-ratio: 1 / 1;
    }

.archivio-grid .card-info h3 {
        font-size: 16px;
    }

.archivio-grid .card-info p {
        font-size: 13px;
    }

.about-grid {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 40px;
        align-items: center;
    }

.about-container {
        margin: 0;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        max-width: 500px;
        text-align: left;
    }

.about-hero {
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

.about-hero img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center 25%;
        border-radius: 50%;
        margin: 0;
        filter: grayscale(100%);
        transition: 0.3s ease;
        box-shadow: 0 0 25px rgba(255,191,0,0.2), 0 0 60px rgba(255,191,0,0.08);
    }

.about-hero img:hover {
        filter: grayscale(0%);
    }

.about-container p {
        margin-bottom: 12px;
    }

.subtitle {
        max-width: 520px;
        font-size: 1.1rem;
    }

.home-grid {
        max-width: 1200px;
        margin: 0 auto;
        gap: 60px;
    }

.home .card {
        margin-bottom: 10px;
    }

.home .card img {
        width: 100%;
        object-fit: cover;
        border-radius: 14px;
        aspect-ratio: 24/9;
        object-fit: cover;
    }

.card-info h3 {
        fill: none;
        stroke: var(--gold);
        stroke-width: 2;
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: drawLine 1s ease forwards;
    }

.card-info p {
        font-size: 15px;
    }

.rating {
        font-size: 15px;
    }

.site-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

.hero {
        padding: 100px 20px 60px;
    }

	
.hero-inner {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
	gap: 40px;
}

.hero-text {
        max-width: 520px;
    }

.hero-text h1 {
        font-family: 'Playfair Display', serif;
        font-size: 44px;
        line-height: 1.15;
        color: white;
        margin-bottom: 22px;
    }

.hero-text p {
        font-size: 16px;
        line-height: 1.6;
        color: #9aa3a8;
    }

.hero-cta {
	display: flex;
  flex-direction: column;
  align-items: center;
}
  

.newsletter {
        margin-top: 120px;
    }

/* ===============================
   POSTER (DESKTOP BASE)
================================ */

.poster {
  position: relative;
  padding: 80px 20px 40px;
}

.poster-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* TESTO */
.poster-text {
    max-width: 520px;
    margin-left: auto;   /* spinge a destra */
}

.poster-big-title {
  color: var(--gold);
  font-size: 72px;
  line-height: 0.9;
  margin-bottom: 20px;
}

.poster-sub {
  font-size: 15px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 10px;
}

.poster-sub.intro {
  color: var(--gold);
  font-weight: 500;
}

/* IMMAGINE CONTENITORE */
.poster-img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
 margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow:
    0 10px 40px rgba(0,0,0,0.5),
    0 0 40px rgba(252,193,14,0.08);
}

/* IMMAGINE */
.poster-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(1.05) brightness(0.95);
}

	
.filters-top,
  .filters-bottom {
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
  }
	
.arrow {
  width: 42px;
  height: 42px;

  border: 1px solid #fcc10e;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fcc10e;
  font-size: 18px;

  cursor: pointer;

  transition: all 0.3s ease;
}

/* hover */
.arrow:hover {
  background: #fcc10e;
  color: #193c4e;
  transform: scale(1.05);
}

/* stato disattivo (quando sei all'inizio o fine) */
.arrow.disabled {
  opacity: 0.3;
  pointer-events: none;
}

	 .poster {
	padding-top: 40px; /* prima era ~120 */
	 }
.poster-big-title {
  margin-top: 40px;
}
	
.poster-img {
    width: 420px;
  height: 420px;
	align-self: flex-end; /* oppure center se lo vuoi più alto */
    margin-top: 0;
	transform: none;
	object-position: center top;
}

	.poster-layout {
    flex-direction: row;
    gap: 60px;
		justify-content: flex-start;
  }

  .poster-text {
    max-width: 520px;
	transform: translateX(-40px);  
	  margin-top: 50px;
	margin-left: 100px;
  }

  .contact-hero {
    margin-top: 90px;
  }
	
 .contact-left {
  transform: none;
 }

	
	.slider {
    overflow: hidden;
}
	
.slide-item {
        flex: 0 0 320px;
    }

.slider::after {
        content: "";
        flex: 0 0 40px;
    }

.slide-card:hover img {
        transform: scale(1.08);
    }

	.slider-arrows {
  margin-left: auto; /* 🔥 spinge a destra */
  display: flex;
  gap: 10px;
	}
.contact-right img {
  width: 320px;
  opacity: 0.9;
  filter: contrast(1.1) brightness(0.9);
}
.cta-link,
.cta-link:visited,
.cta-link:active {
  color: #193c4e !important;
  text-decoration: none !important;
}
.contact-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    max-width: 1100px;
    margin: 0 auto;
  }

  .contact-columns .card:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,0.15);
  }
	.header-inner {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .logo-block {
    text-align: left !important;
  }

  .menu {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 24px;
  }

  /* HERO torna a sinistra */
  .contact-layout,
  .poster-layout {
    justify-content: flex-start !important;
  }

  .contact-left,
  .poster-text {
    transform: none !important;
    margin-left: 0 !important;
  }
	.sections {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 60px;

    max-width: 1100px;
    margin: 0 auto;

    padding: 0 40px;
    padding-top: 60px;
	}
	}

	@media (min-width: 1024px) {
  /* HEADER */
  .header-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-block {
    text-align: left;
  }

  .menu {
    justify-content: flex-end;
  }

  /* HERO GENERICO */
  .hero-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  /* CHI SONO */
  .poster-layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .poster-text {
    text-align: left;
    margin-left: 0;
    transform: none;
  }

  /* CONTATTI */
  .contact-layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
.contact-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
  .contact-left {
    margin-left: 0;
    transform: none;
  }
	/* FIRMA */
.poster-signature {
  filter: brightness(0) invert(1);
  opacity: 0.9;
  width: 160px; /* prima troppo grande */
  margin-top: 20px;
}
	}


@media (min-width: 1024px) {

  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-block {
    text-align: left;
  }

  .menu {
    justify-content: flex-end;
    gap: 24px;
}
}
@media (min-width: 1024px) {

  .poster-layout,
  .contact-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .poster-text,
  .contact-left {
    text-align: left;
    margin-left: 0;
    transform: none;
  }
	.sections,
  .contact-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
